ul{
    padding-inline-start:0px;
}
:root {
	--title-color: #212121;
	--paragraph-color: #757575 ;
	--button-COLOR:#2196F3;
  }

  /*HEADER*/
.contaner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.heder-contaner{
    display: flex;
    align-items: center;
}
.page-header{
    border: 1px solid #ECECEC ;
}
.logo-header{
	color: #212121;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-decoration: none;
    margin-right: 94px;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.logo-web{
	color: #2196F3;
}
ul {
    list-style: none;
    }

.site-nav{
    display: flex;
    margin: 0;

}
.site-nav .nav-head{
    display: block;
    
}

.nav-head{
    position: relative;
    display: flex;
    align-items: center;
    color: var(--title-color);
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
    text-decoration:none ;
    
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}    
.nav-head .site-nav-iten:not(:last-child){
    margin-right: 50px;

}
.current::after{
    position: absolute;
    bottom: -32px;
    display: flex;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196F3;

}

.icon-header{
    border: 0;
    
}
.envelope-icon{
    
}
.nav-head:hover,
.nav-head:focus {
    
	color: #2196F3;
}
.site-nav.nav-head:active{
	color: #2196F3;
    }
.nav-contact + .nav-contact{
    margin-left: 50px;
}

.nav-contact{
    display: flex;
    text-decoration: none;
    color: var(--paragraph-color);
    font-weight: 500;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.nav-contact:hover,
.nav-contact:focus {
    color: #2196F3;
}
.page{
    display: flex;
    margin-left: auto;
}
.page-icon{
    text-decoration: none;
    margin-right: 10px;
    margin-left: 30px;
    width:16px; 
    height:16px;
    fill: currentColor;
}
body{ 
	font-family: 'Roboto', sans-serif;
	color: var(--paragraph-color);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.03em;
}
.hero{
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #C4C4C4;
    background-image: linear-gradient(to left,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),
    url(../images/bgrhero.jpg);

    }

.hero-title{
	color: #FFFFFF;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
    margin:0;
    padding-bottom: 30px;
}


.hero-button{
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
	background:var(--button-COLOR) ;
	color: #FFFFFF;
	text-align: center;
    padding: 10px 32px;
    border: 0;
    display: flex;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hidden{
    display: none;
    margin: 0;
    padding: 0;
}
.benefits{
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits-item{
    display: flex;
    justify-content: space-between;
    margin: 0 ;

}
.benefits-item-submenu{
    width: 270px;
        
}
.benefits-item-icon{
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.submenu-titel{
    color: var(--title-color);
    text-transform:uppercase;
    font-size: 14px;
    line-height: 1.14;
    margin: 0 0 10px 0 ;
}
.submenu-titel-text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}
.activities{
    padding-bottom: 94px;
}
.activities-item{
    display: flex;
    margin: 0;
}
.activities-img{
    
}
.activities-link + .activities-link{
    margin-left: 30px;
}
.activities-link{
    position: relative;
    
    
}
.activities-link-text{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    text-transform:uppercase;
    width: 100%;
    padding-bottom: 28px;
    padding-top: 28px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
}
.basic-title{
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 0 50px 0;
}


.team{
    background-color: #F5F4FA;
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 94px; 
}
.team-container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    
}
.team-container-item{
    background-color: #FFFFFF;
}
.team-container-item+.team-container-item{
    margin-left: 30px;
}

.team-title{
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin: 0;
    margin-bottom: 10px;
}
.team-container-text{
    display: flex;
    justify-content: center;
}
.team-title-text{
    padding-top: 30px;
    padding-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-container-link{
    display: flex;
    justify-content:center;
}
.team-container-link-img{
    margin-right: 10px;
    margin-top: 16px;    
}
.background{
    display: flex;
    border-radius: 50%;
    color: #AFB1B8;
    width: 44px;
    height: 44px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-container-icon{
    fill: currentColor;
    width: 44px;
    height: 44px;
}
.background:hover,
.background:focus{
    color: #f3f5f8;
    background-color: #2196F3;
}
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.clients-item-link{
    display: flex;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.clients-link{
    fill: currentColor;
    width: 170px;
    height: 92px;                                                                                              */
}
.clients-item-link:hover,
.clients-item-link:focus{
    color: #2196F3;
    border: 1px solid  #2196F3;
}
/*Парфолио*/
.work-contaner{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 50px;
}

.work{
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-contaner-item{
    
}
.work-contaner-item:not(:last-child){
    margin-right: 8px;
}

.filter-button{
    font-family:Roboto;
    background:  #F5F4FA;
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus{
    background: var(--button-COLOR);
    color: #FFFFFF;
}
.projects-contanet{
    display: flex;
    flex-wrap: wrap;
    margin: -15px -15px 0px -15px;
}
.projects-contanet-item{
    position: relative;
    border: 1px solid #EEEEEE;
    margin: 15px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-contanet-img{
    position: relative;
    width:370px;
    height: 294px;
    overflow: hidden;

}

.projects-contanet-item:nth-child(3n+3){
    margin-right: 0;
}
.projects-contanet-item:hover,
.projects-contanet-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.catalog{
    /*display: grid;*/
    text-decoration: none;
    }
.catalog-img{
    position: absolute;
    
    width: 100%;
    height: 100%;

}
.catalog-text{
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #EEEEEE;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.projects-contanet-item:hover .catalog-text{
    transform: translateY(0);
    
}

.catalog-title{
    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
    padding-bottom: 4px;
}  
.catalog-type{
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin: 0;
}
.catalog-title-type{
    position: relative;
    width: 100%;
    bottom: 0;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
}
/*FOOTER*/

footer{
    background: #2F303A;
}
.footer-info{
    padding-top: 60px;
    padding-bottom: 50px;
}
.footer-address{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}
.footer-contaner{
    display: flex;
}

.logo-footer{
    display: block;
    margin-bottom: 20px;
    color: #FFFFFF;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-decoration: none;

}
.nav-footer{
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin: 10px 0 10px 0;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.nav-address{
    display: flex;
    flex-direction: column;
    
}
.nav-footer:hover,
.nav-footer:focus{
    color: #2196F3;
}
.nav-footer-city{
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    margin: 10px 0 10px 0;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.nav-footer-city:hover,
.nav-footer-city:focus{
    color: #2196F3;
}
.footer-container-link-img{
    margin-right: 10px;
}
.footer-contaner-link{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 94px;
}
.footer-title{
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    text-transform:uppercase;
}
.footer-link{
    display: flex;
    margin: 0;
    margin-top: 20px;
}
.footer-container-icon{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #f3f5f8;
    width: 44px;
    height: 44px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)

}
.footer-container-icon:hover,
.footer-container-icon:focus{
    background-color: #2196F3;
}
.footer-iner{
    margin-top: 20px;
}
.footer-contaner-input{
    margin-top: 10px;
}
.footer-input{
    background: #2F303A;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    padding: 16px;
    margin-right: 12px;

}
.footer-button{
    background: #2196F3;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding: 0;
}
.footer-icon{
    display: flex;
    align-items: center;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.84;


}
.footer-icon::after{
    display: flex;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/icon\ send.svg);
    margin-left: 10px;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition:  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 580px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close{
    position: absolute;
    top: 8px;
    right: 32px;
    border: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-close:hover{
    color: #2196F3;

}

.modal-close-img{
    position: absolute;
    width: 30px;
    height: 30px;
    fill: currentColor;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.9);
}
/*FORM */

.modal-inner{
    padding: 40px;
}
.modal-titel{
    margin: 0 0 12px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: #212121
}
.modal-field{
    margin-bottom: 10px;
}
.form-inner{
    position: relative;
}

.form-label{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.2;
}
.form-input{
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 42px;
    font-family: inherit;
    outline: none;
}
.form-input:hover,
.form-input:focus{
    border: 1px solid #2196F3;
}

.form-input:hover,
.form-input:focus + .form-icon{
    fill: var(--button-COLOR);
}

.form-icon{
    position: absolute;
    left: 14px;
    top: 50%;
    width: 18px;
    height: 18px;
    fill: #212121;
    transform: translateY(-50%);
}

.modal-field-textarea{
    height: 120px;
    resize: none;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    padding: 12px 16px;
    outline: none;
}
.modal-field-textarea:hover,
.modal-field-textarea:focus{
    border: 1px solid #2196F3
}

.modal-checkbox{
    margin-top: 20px;
    margin-bottom: 30px;
}
.modal-checkbox-span{
    color: #2196F3;
    text-decoration:underline;
}
.form-button{
    display: block;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin:0 auto;
}

/* checkbox */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.checkbox{

    display: flex;
    align-items: center;
}
.modal-checkbox{
    margin-left: 10px;
}
.checkbox-contaner-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
}
.checkbox-icon{
    position: absolute;
    width: 17px;
    height: 17px;
    opacity: 0;
}
.checkbox-input:checked + .checkbox-icon{
    opacity: 1;
}